<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/master.css">
  </head>
  <body>
    <!-- triple handlebars is a shortband for a router view-->
     
    {{{body}}} 
     <div id="mainContainer" class="row">       
        <div id="discription" class="float-sm-left">
          <p class="title">{{title}}</p>
          <p>{{content}}</p>
          <p>{{message}}</p>
        </div>

        
      </div> 
    


    </body>
</html>
