{{!-- <div>
<h1>Welcome{{name}}</h1>
<img src="/images/{{bioPic}}" alt="bio image">
<p>You are currently logged in as {{role}}.</p>
<p>{{bio}}</p>
</div> --}}

<h1 id="nameTitle">{{name}}</h1>
<p id="discription_cake">{{bio}}</p>

<div class="container">
  <div class="row">
    <div class="col-sm shadow p-3 mb-5 bg-white rounded product">
      <img src="/images/{{Pic1}}" alt="wedding cake">
    </div>
    <div class="col-sm shadow p-3 mb-5 bg-white rounded product">
      <img src="/images/{{Pic2}}" alt="wedding cake">
    </div>
    <div class="col-sm shadow p-3 mb-5 bg-white rounded product">
      <img src="/images/{{Pic3}}" alt="wedding cake">
    </div>
    
  </div>



